{% extends 'base.html.twig' %}

{% block title %}Mediatheque Home
{% endblock %}

{% block body %}

	<div class="text-center">
		<h1 class="h3 mb-3 font-weight-normal">Categorie
			{{category.name}}</h1>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id Produit</th>
				<th scope="col">Nom</th>
				<th scope="col">Prix</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			<div class="legend">
				<span class="loan">Loué</span>
				<span class="purchase">Acheté</span>
				<span class="on-stock">En Stock</span>
			</div>
			{% for product in products %}
				{% if product.status == 'loan' %}
					<tr class="alert alert-danger" role="alert">
						<td>{{ product.id}}</td>
						<td>{{ product.name}}</td>
						<td>{{ product.price}}
							€</td>
						<td>{{ product.description }}</td>
					</tr>
				{% elseif product.status == 'buy' %}
					<tr class="alert alert-dark" role="alert">
						<td>{{ product.id }}</td>
						<td>{{ product.name}}</td>
						<td>{{ product.price}}
							€</td>
						<td>{{ product.description }}</td>
					</tr>
				{% else %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name}}</td>
						<td>{{ product.price }}
							€</td>
						<td>{{ product.description }}</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
