{% extends 'base.html.twig' %}

{% block title %}Mediatheque Home
{% endblock %}

{% block body %}
	<section class="wrapper">
		<div class="text-center">
			<h1 class="mb-3 font-weight-normal">Fiche Produit :
				{{product.name}}</h1>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-md-6 col-xs-12 col-sm-12 text-center">
				<div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
					<img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<h2 class="card-meta mb-2">{{product.name}}</h2>
							<h4 class="card-title mt-0 ">
								<a class="text-white" herf="#">{{product.description}}</a>
							</h4>
						</div>
						<h4>
							<i class="far fa-money-bill-alt"></i>
							{{product.price}}
							€</h4>
						<div class="card-footer">
							{% if product.status == 'on-stock' %}
								<div class="text-center">
									<a class='btn btn-success float-left' href="{{path('buy', {'id': product.id})}}" class="card-link">Acheter</a>
									<a class='btn btn-success float-right' href="{{path('loan', {'id': product.id})}}" class="card-link">Louer</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></section>{% endblock %}
