{% extends 'base.html.twig' %}

{% block title %}Mediatheque Home{% endblock %}

{% block body %}
<div class="text-center">

   <div class="text-center">
          <h1 class="h3 mb-3 font-weight-normal">Fiche Produit : {{product.name}}</h1>
    </div>

  <section class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="https://media.lesechos.com/api/v1/images/view/6205aa2ed286c242562f9f36/1280x720-webp/070887772598-web-tete.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Option 1</li>
        <li class="list-group-item">Option 2</li>
        <li class="list-group-item">Option 3</li>
      </ul>
      <div class="card-body">
        {% if product.status == 'on-stock' %}
          <a class = 'btn btn-success' href="{{path('buy', {'id': product.id})}}" class="card-link">Buy</a>
          <a class = 'btn btn-success' href="{{path('loan', {'id': product.id})}}" class="card-link">Loan</a>
        {% endif %}
      </div>
    </div>
  </section>
</div>

{% endblock %}